<%- include("header") -%>

<body>
  <h1>Transaction Failed</h1>
  <h2><%= failedTitle %></h2>
  <form class="" action="/transfer" method="post">
    <button type="submit" class="btn btn-success btn-lg mt-2">Try Again</button>
  </form>
</body>

<%- include("footer") -%>
