<!-- Footer Section -->

<footer>

  <div class="contact">
    <i class="contact-img fa-brands fa-twitter"></i>
    <i class="contact-img fa-brands fa-facebook-f"></i>
    <i class="contact-img fa-brands fa-instagram"></i>
    <i class="contact-img fa-solid fa-envelope"></i>
  </div>

  <p>© Copyright Neeraj</p>

</footer>

</body>

</html>
